.blocflex {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article {

        flex: 1 0 300px;
        margin: 10px;
        padding: 10px;
    }
}

h1 {

    a {
        margin-left: 10px;
    }
}