.blocflex {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {

    a {
        margin-left: 10px;
    }
}

.blocflex__article {

    flex: 1 0 300px;
    margin: 10px;
    padding: 10px;
}

.blockflex__galerie {

    flex: 1 0 100%;
    margin: 10px;
    padding: 10px;
}