.site__entete {

    background: rgba( 89, 99, 111, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 0;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logomenu {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.titre-mobile {

    @media screen and (min-width: 1435px) {

        display: none;
    }
}

.titre {

    display: none;
}

.titre {

    @media screen and (min-width: 1435px) {

        display: flex;
    }
}

.menusearch{

    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    flex-direction:column-reverse;

    @media screen and (min-width:1000px)
    {
        flex-direction:row;
        align-items:center;
        justify-content:flex-end;
    }
}

#chkBurger {

    display: none;
}

#chkBurger:checked ~ .menu-category-container {

    transform: translateX(0);
}

.burger {

    display: block;

    @media screen and (min-width: 700px) {

        display: none;
    }
}

.menu-category-container {

    transform: translateX(300px);
    transition: transform .25s;

    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

    @media screen and (min-width: 700px) {

        transform: translatex(0);
    }

    @media screen and (min-width: 400px) {

        margin-right: -40px;
    }

    .menu { //ul

        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: flex-end;
        justify-content: flex-start;

        @media screen and (min-width: 700px) {

            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        width: 100%;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;

        .menu-item { // li

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style: none;
            white-space: nowrap;

            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            margin-right: 10px;

            border: 2px solid rgb(0, 128, 255);
            border-radius: 10px;
            background-color: rgba(255, 127, 80, .7);

            transition: 0.3s;

            a {
                font-size: 24px;
            }
        }

        .menu-item:hover {

            background-color: rgba(255, 127, 80, 1);
        }
    }
}

.recherche {

    display: flex;
    flex-wrap: nowrap;
}