.site__entete {

    background: rgba( 89, 99, 111, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 0;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logomenu {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.menu-category-container {

    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

    .menu { //ul

        display: flex;
        width: 100%;
        justify-content: flex-start;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;

        .menu-item { // li

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style: none;

            padding-left: 20px;
            padding-right: 20px;

            a {
                font-size: 24px;
            }
        }
    }
}