.site__aside h3 {

    margin-left: 40px;
}

.menu-note-wp-container,
.menu-cours-container { //nav

    .menu { //ul

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media screen and (min-width: 1000px) {

            flex-direction: column;
        }

        .menu-item { // li

            list-style-type: none;
            margin-top: 5px;
            margin-bottom: 5px;

            a {

                .cours__sigle {
                    
                    padding-left: 4px;
                    padding-right: 4px;
                    font-weight: bold;
                    color: #ff7f50;
                }

                .cours__titre {

                    display: none;

                    @media screen and (min-width: 1000px) {

                        display: inline;
                    }
                }
            }
        }
    }
}