Main {

    h1, code {
        padding-right: 10px;
        // padding-left: 10px;

        font-family: "Bowlby One SC";
        color: #551a8b;
    }

    p {
        font-family: "Alegreya Sans SC", sans-serif;
    }

    .enseignant, .domaine {

        font-family: "Bowlby One SC";
        // color: #551a8b;
    }

    .enseignant {
        margin-top: 60px;
        font-size: 18px;
        color: #551a8b;
    }

    .domaine {
        font-size: 16px;
        color: black;
    }

    .page_du_cours,
    .nombre_detudiants,
    .domaine_span,
    .enseignant {

        font-size: 18px;
        color: #551a8b;
    }
    
}