.menusearch {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;

    @media screen and (min-width: 1000px) {

        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .recherche {

        display: flex;
        flex-wrap: nowrap;

        article {
            background-color: azure;
            margin: 10px;
        }
    }
}